*.iml
.gradle
/local.properties
/.idea/
.DS_Store
build/
*/build/
/captures
.externalNativeBuild
.cxx
local.properties
*.main.kts
node_modules/
**/node_modules/
firebase-service-account.json
**/firebase-service-account.json
